@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--accordion-panel-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--accordion-panel-height);
  }
  to {
    height: 0;
  }
}

[data-slot="accordion"]
  > [data-slot="accordion-item"]
  + [data-slot="accordion-item"] {
  margin-top: 0.5rem;
}

[data-slot="accordion"]
  > [data-slot="accordion-item"][data-variant="grouped"] {
  border-radius: 0;
  transition-duration: 270ms;
  transition-property: margin, border-radius, background-color, box-shadow;
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

[data-slot="accordion"]
  > [data-slot="accordion-item"][data-variant="grouped"]:first-child {
  border-top-left-radius: var(--radius-2xl);
  border-top-right-radius: var(--radius-2xl);
}

[data-slot="accordion"]
  > [data-slot="accordion-item"][data-variant="grouped"]:last-child {
  border-bottom-right-radius: var(--radius-2xl);
  border-bottom-left-radius: var(--radius-2xl);
}

[data-slot="accordion"]
  > [data-slot="accordion-item"][data-variant="grouped"]
  + [data-slot="accordion-item"][data-variant="grouped"] {
  margin-top: 0;
}

[data-slot="accordion"]
  > [data-slot="accordion-item"][data-variant="grouped"]:has(
    [data-slot="accordion-trigger"][aria-expanded="true"]
  ) {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border-radius: var(--radius-2xl);
}

[data-slot="accordion"]
  > [data-slot="accordion-item"][data-variant="grouped"]:first-child:has(
    [data-slot="accordion-trigger"][aria-expanded="true"]
  ) {
  margin-top: 0;
}

[data-slot="accordion"]
  > [data-slot="accordion-item"][data-variant="grouped"]:last-child:has(
    [data-slot="accordion-trigger"][aria-expanded="true"]
  ) {
  margin-bottom: 0;
}

[data-slot="accordion"]
  > [data-slot="accordion-item"][data-variant="grouped"]:has(
    + [data-slot="accordion-item"][data-variant="grouped"]
      [data-slot="accordion-trigger"][aria-expanded="true"]
  ) {
  border-bottom-right-radius: var(--radius-2xl);
  border-bottom-left-radius: var(--radius-2xl);
}

[data-slot="accordion"]
  > [data-slot="accordion-item"][data-variant="grouped"]:has(
    [data-slot="accordion-trigger"][aria-expanded="true"]
  )
  + [data-slot="accordion-item"][data-variant="grouped"] {
  border-top-left-radius: var(--radius-2xl);
  border-top-right-radius: var(--radius-2xl);
}

@media (prefers-reduced-motion: reduce) {
  [data-slot="accordion-content"],
  [data-slot="accordion"] > [data-slot="accordion-item"] {
    animation-duration: 1ms;
    transition-duration: 1ms;
  }
}
